{
  "env": {
    "browser": true,
    "es2020": true
  },
  "extends": ["plugin:react/recommended", "prettier"],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "parser": "babel-eslint",
  "plugins": ["react", "prettier"],
  "rules": {
    "react/prop-types": "off",
    "react/no-unescaped-entities": "off",
    "no-unused-vars": "warn"
  }
}
