{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "rules": {
    "object-literal-sort-keys": [0],
    "no-implicit-dependencies": [0],
    "no-submodule-imports": [0],
    "interface-over-type-literal": [0],
    "member-access": [0],
    "ordered-imports": [0],
    "class-name": [0],
    "member-ordering": [0],
    "curly": [1],
    "interface-name": [0],
    "only-arrow-functions": [0],
    "no-floating-promises": [0],
    "no-shadowed-variable": [0],
    "max-classes-per-file": [0],
    "prefer-conditional-expression": [0],
    "no-console": [0]
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "ignorePatterns": [
    "src/serviceWorker.js",
    "node_modules",
    "build",
    "coverage",
    "*.test.*",
    "public/env-config.js"
  ]
}
